---
import { AstroFont } from 'astro-font';
import { Icon } from 'astro-icon/components';
import BaseHead from '../components/BaseHead.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

const { bgImage, bgClass = '' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

    <AstroFont
      config={[
        {
          name: 'Vietnam',
          src: [],
          googleFontsURL:
            'https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap',
          preload: true,
          display: 'swap',
          selector: 'body',
          fallback: 'sans-serif',
        },
      ]}
    />
  </head>

  <body class={`  ${bgClass}`}>
    <!-- THEME SCRIPT (CLIENT-SIDE ONLY) -->
    <script is:inline>
      const root = document.documentElement;
      const stored = localStorage.getItem('theme');

      if (stored === 'dark') {
        root.classList.add('dark');
      }

      window.toggleTheme = () => {
        root.classList.toggle('dark');
        localStorage.setItem(
          'theme',
          root.classList.contains('dark') ? 'dark' : 'light'
        );
      };

      window.goBack = () => {
        if (window.history.length > 1) {
          window.history.back();
        } else {
          window.location.href = '/';
        }
      };
    </script>

    <!-- Toggle button (example) -->
    <section class="max-w-3xl mx-auto space-y-8">
      <div class="pt-10 flex items-center justify-between">
        <button
          onclick="goBack()"
          class="flex items-center gap-2 text-sm text-muted-foreground cursor-pointer group/back"
        >
          <Icon
            name="arrowRight"
            class="rotate-180 group-hover/back:rotate-0 transition-transform duration-300"
          />
          Back to portfolio
        </button>
        <button
          onclick="
          toggleTheme()"
          class="top-2 right-2 border px-3 py-3 rounded-full text-sm"
        >
          <Icon name="sun" />
        </button>
      </div>
      <div>
        <h2 class="text-5xl font-light mb-4">Blogs</h2>
        <p class="text-muted-foreground text-sm font-light">
          Articles and insights on web development, design systems, performance
          optimization, and modern web technologies, sharing what I've learned
          to help developers improve their skills.
        </p>
      </div>
    </section>

    <!-- Background wrapper -->
    <div class="bg-background min-h-screen">
      <slot />
    </div>
  </body>
</html>

<!-- ---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      main {
        /* width: calc(100% - 2em); */
        /* max-width: 100%; */
        margin: 0;
      }
      .hero-image {
        width: 100%;
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: var(--box-shadow);
      }
      .prose {
        width: 720px;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 1em;
        color: rgb(var(--gray-dark));
      }
      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }
      .title h1 {
        margin: 0 0 0.5em 0;
      }
      .date {
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
      }
      .last-updated-on {
        font-style: italic;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article>
        <div class="hero-image">
          {
            heroImage && (
              <Image width={1020} height={510} src={heroImage} alt="" />
            )
          }
        </div>
        <div class="prose">
          <div class="title">
            <div class="date">
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
            <h1>{title}</h1>
            <hr />
          </div>
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html> -->
